﻿
  * {
   box-sizing: border-box; 
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   //1.7vh;
  }
  body {
    margin: 0;
    
  }
  #main {
    display: flex;
    min-height: 75vh;
    max-height: 75vh;
    //overflow: auto;
  }
  article {
    flex: 1;
    overflow: auto; //hidden
  }
  
  nav{
    flex: 0 0 20vw; 
    background: beige;
    order: -1; //on the left side
    height:100%;
    overflow: auto;
        
  }
  nav ul, nav li{
    display: block;        
    width: 100%;
    margin: 0;
    padding: 0;  
      
  }
  nav li a{
    display: block;
    padding: 1.5vw;    
    text-decoration: none;     
  }
  nav li a:hover{
    background: maroon;
    color: white;
    text-decoration: none;
    
  } 
  nav li a.active{
    background: maroon;
    color: white;
  }
  
  header, footer, article, nav{
    padding: 1em;
  }
  header, footer {
    background: maroon;
    color: white;
  }
  footer{
    height: 50px;
    text-align: center;
  }
  header{
    font-size: 25px;
    height: 80px;
    display: block;
    vertical-align: middle;
  }     
  article a{
    text-decoration: underline;
  }
  
  img.inArticle{
    display: block;
    width: 50%;
    margin: auto;
  }
  
  p.imgDescription{
    text-align: center;
    
  }
  
  h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h2{
    font-size: 20px;
  }
  h2.ok{
    color: darkgreen;   
  }
  h2.ko{
    color: red;
  }
  
    table.tableizer-table {
	    font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
        margin: auto;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}
    .tableizer-table tr.ko {
        background-color: red;
    }
    .tableizer-table tr.ok {
        background-color: lightgreen;
    }
    .tableizer-table tr.void {
        background-color: grey;
    }

  @media print{
     #main > article {
    flex: 1;
    overflow: visible; //hidden
  }
  
  }
  
  .column {
     float: left;
     width: 50%;
   }
   .row:after {
     content: "";
     display: table;
     clear: both;
   }